worker_processes 1;

events {

    worker_connections 1024;

}

http {

    include       /etc/nginx/mime.types;
    server {
        listen 80;
        server_name example.org;
        root ${WEB_DIR}/;

        access_log /dev/stdout;
        error_log /dev/stdout info;

        location /static/ {
            autoindex off;
        }

        location / {
            proxy_pass http://${DJANGO_HOST}:8000;
            include /etc/nginx/nginx.conf.proxyhead;
        }
    }
}
