
body {
    background-image: url("/static/polls/images/DSC02654-bgnd-small.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ispadding {
    display: none;
}

@media only screen and (min-width: 640px) {
    body { 
        background-image: url("/static/polls/images/DSC02654-bgnd.jpg"); 
    }
    .ispadding {
        display: inline;
    }
}

div.dfltpanel {
    background-color: rgba(179, 217, 255, 0.3);
    
}

div.dfltpanel, .formpanel, .button, .tablebut {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* center tables */
table {
	margin: 0 auto;
}

.tablebut {
   text-align: center; 
}

